{% extends '::base.html.twig' %}
{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">
     
   
    function addAnswerFormDeleteLink($answerFormLi) {
    var $removeFormA = $('<a href="#">delete this Answer</a>');
    $answerFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $answerFormLi.remove();
    });
}
    function addAnswerForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');
    //alert(prototype);
    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);
    //alert(newForm);
    // increase the index with one for the next item
     collectionHolder.data('index', index + 1);
     //collectionHolder.append(newForm);
    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').html(newForm);
    $newLinkLi.before($newFormLi);
    addAnswerFormDeleteLink($newFormLi);

}
jQuery(document).ready(function() {
       // Get the ul that holds the collection of tags
var collectionHolder = $('ul.answers');

// setup an "add a tag" link
var $addAnswerLink = $('<a href="#" class="add_Answers_link">Add Answer</a>');
var $newLinkLi = $('<li></li>').append($addAnswerLink);
 // add a delete link to all of the existing tag form li elements
    collectionHolder.find('li').each(function() {
        addAnswerFormDeleteLink($(this));
    });
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);

    $addAnswerLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addAnswerForm(collectionHolder, $newLinkLi);
    });


});
    </script>
{% endblock%}

{% block body -%}

    <h1>TournamentQuestions creation</h1>

    <form action="{{ path('tournamentquestions_create') }}" method="post" {{ form_enctype(form) }}>
     {{form_row(form.subj)}}
     {{form_row(form.grade)}}
     {{form_row(form.question)}}
       
       <ul class="answers" data-prototype="{{ form_widget(form.answers.vars.prototype) | e('html') }}">
           <li>        {% for anserForm in form.answers %}
               {{ form_widget(anserForm) }}
               {% endfor %}
      </li>                        
     </ul>  
     {{ form_rest(form)}}           
                <p>
                    <button type="submit">Create</button>
                </p>
     </form>

      
      
       
    
    
    
    
    <ul class="record_actions">
                <li>
                    <a href="{{ path('tournamentquestions') }}">
                        Back to the list
                    </a>
                </li>
            </ul>

{% endblock %}
