{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TournamentQuestions</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ entity.question }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{{ entity.approved }}</td>
            </tr>
            <tr>
                <th>Answers</th>
                {% for answer in entity.answers %}
                <td> {{answer.choice}} </td>
                {% endfor %}
            </tr>            
            {#<tr>
                <th>Isactive</th>
                <td>{{ entity.isActive }}</td>
            </tr>#}
        
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tournamentquestions') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tournamentquestions_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tournamentquestions_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
